@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  background-image: url("./assets/images/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* ビューポート全体を覆う */
  margin: 0;
  padding: 0;
}

.pet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}

.pet-image {
  max-width: 330px; /* イラストの幅を広げる */
  height: auto;
  margin-top: 20px; /* 吹き出しとの距離調整 */
}

.speech-bubble {
  background: url("./assets/images/fukidashi_1.png") no-repeat center center;
  background-size: contain;
  width: 330px; /* 吹き出しの幅を広げる */
  height: 200px; /* 吹き出しの高さを調整 */
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  justify-content: center; /* 横方向中央揃え */
  position: absolute;
  top: 100%; /* ペット画像の真下に配置 */
  left: 50%; /* 横方向中央揃え */
  transform: translateX(-50%); /* 中央揃え補正 */
  text-align: center;
  font-family: "Yomogi", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 20px; /* フォントサイズを大きく */
  color: #333;
  padding: 60px 20px 10px;
  box-sizing: border-box;
  line-height: 1.4; /* テキストの行間を調整 */
  overflow: hidden; /* はみ出るテキストを隠す */
  word-wrap: break-word; /* テキストが長い場合に改行 */
}
